<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Single Page Transitions</title>
  <link rel="stylesheet" href="/home.css" />
</head>
<body>
  <nav>
    <button onclick="showSection('home')">Home</button>
    <button onclick="showSection('post')">Post</button>
    <button onclick="showSection('upload')">Upload</button>
    <button onclick="showSection('account')">Account</button>
    <button  onclick="window.location.href='/'">Logout</button>
  </nav>

  <div class="sections">
    <section id="home">Home</section>
    <section id="post">Post</section>
    <section id="upload">Upload</section>
    <section id="account">Account</section>
  </div>

  <script src="/home.js"></script>
</body>
</html>
